* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
}

main {
    background-color: rgb(252, 192, 222);
}

footer {
    background-color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Push footer down */
    justify-content: space-between;
    text-align: center;
}

/*.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}*/